header{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    border-radius: 30px;
}
body{
    background-color: grey;
}
nav{
    background-color: black;
    color:white;
    text-align:center;
    padding: 20px;
    border-radius: 30px;
    margin-top: 2px;
}
div.nr1{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 20px;
    height: 160px;
    border-radius: 30px;
    margin-top: 2px;
}
div.nr2{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 30px;
    height: 70px;
    border-radius: 30px;
    margin-top: 2px;
    display: none;
}
div.nr3{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 10px;
    height: 670px;
    border-radius: 30px;
    margin-top: 2px;
    display: none;
}
div.nr4{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 30px;
    height: 510px;
    border-radius: 30px;
    margin-top: 2px;
    display: none;
}
table{
    border: 1px yellow solid;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 1px yellow solid;
    width: 150px;
    height: 150px;
    cursor: pointer;
    background-size: 150px;
    background-repeat: no-repeat;
}
p{
    font-size: 40px;
    font-family: bold;
}
footer{
    background-color: black;
    color:white;
    text-align:center;
    padding-top: 20px;
    height: 100px;
    border-radius: 30px;
    margin-top: 2px;
}
a{
	color:white;
}
#nick{
	text-shadow: 10px 10px grey;
}
